<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Planificateur Intelligent - Trajet</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
 
      
    </style>
  </head>
  <body>
    
    <div id="loading"></div>
    <div id="map"></div>
    <script>
    




function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          //center: ('Amiens, France')
        });

        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer({
          draggable: true,
          map: map,
          panel: document.getElementById('right-panel')
        });

        directionsDisplay.addListener('directions_changed', function() {
        });

        displayRoute('{{ depart }}', '{{ arrivee }}', directionsService,
            directionsDisplay);
      }
    
      function displayRoute(origin, destination, service, display) {
          var waypts=[];
          var esc=['{{ escales[0] }}', '{{ escales[1] }}', '{{ escales[2] }}', '{{ escales[3] }}'];

          for (var i = 0; i < esc.length ; i++) { 
            if (!esc[i]) {
                waypts=waypts;
            } else {
                waypts.push({
                    location: esc[i]
                });
            }         
          }
        service.route({
          origin: origin,
          destination: destination,
          waypoints: waypts,
          travelMode: 'DRIVING',
          avoidTolls: true,
          optimizeWaypoints: true
        }, function(response, status) {
          if (status === 'OK') {
            display.setDirections(response);
          } else {
            alert('Could not display directions due to: ' + status);
          }
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8pxsl2jFQSwshMT2I5Weue8CKLgxalY8&callback=initMap">
    </script>
  </body>
</html>